@require "../../../../../Functionality.styl"
@require "../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideNumberBoxYDF_Component()
generateButtonYDF_GUI_ComponentStyles()
