@require "../../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


hamburgerMenuButtonComponentDefaultPropertiesOverriding = {}


HamburgerMenuButton--YDF-generateStyles(
  overridings: hamburgerMenuButtonComponentDefaultPropertiesOverriding
)


@require "../../../../../Galleries/GUI_Components/Controls/Buttons/HamburgerMenu/HamburgerMenuButtonGallery.styl"
