@require "Themes/Regular/GeometricVariations/ClosingButton-RegularTheme-RegularGeometricVariation.styl"
@require "Themes/Regular/DecorativeVariations/ClosingButton-RegularTheme-RegularDecorativeVariation.styl"


ClosingButton--YDF = {

  CSS_NAMESPACE: "ClosingButton--YDF",

  defaultProperties: {

    themes: {
      regular: {

        componentIndependentCSS_Class: "RegularTheme--YDF",

        geometricVariations: {
          regular: ClosingButton-RegularTheme-RegularGeometricVariation--YDF
        },

        decorativeVariations: {
          regular: ClosingButton-RegularTheme-RegularDecorativeVariation--YDF
        }

      }
    }

  },

  defaultOptions: {
    themeIndependentStylesOnly: false,
    areThemesCSS_ClassesCommon: false,
    themeIndependentGeometricVariations: true,
    geometricModifiers: {
      noRoundings: true
    },
    decorativeModifiers: {
      bordersDisguising: true,
      noBackground: true,
      noBackgroundInDefaultState: true
    }
  }

}


ClosingButton--YDF-generateStyles(
  preset = ClosingButton--YDF.defaultProperties,
  overridings = {},
  options = ClosingButton--YDF.defaultOptions,
  restParameters__MUST_NOT_BE...
)

  properties = deeplyCloneAndOverrideObject--YDF(preset, overridings)

  validateObjectTypeParameter--YDF({
    mixinOrFunctionName: "ClosingButton--YDF-generateStyles",
    targetParameterNumber: 3,
    targetParameter: options,
    schema: {
      themeIndependentStylesOnly: {
        type: DataTypes--YDF.boolean,
        defaultValue: ClosingButton--YDF.defaultOptions.themeIndependentStylesOnly
      },
      areThemesCSS_ClassesCommon: {
        type: DataTypes--YDF.boolean,
        defaultValue: ClosingButton--YDF.defaultOptions.externalThemes
      },
      themeIndependentGeometricVariations: {
        type: DataTypes--YDF.boolean,
        defaultValue: ClosingButton--YDF.defaultOptions.themeIndependentGeometricVariations
      },
      geometricModifiers: {
        type: DataTypes--YDF.object,
        properties: {
          noRoundings: {
            type: DataTypes--YDF.boolean,
            defaultValue: ClosingButton--YDF.defaultOptions.geometricModifiers.noRoundings
          }
        },
        defaultValue: ClosingButton--YDF.defaultOptions.geometricModifiers
      },
      decorativeModifiers: {
        type: DataTypes--YDF.object,
        properties: {
          bordersDisguising: {
            type: DataTypes--YDF.boolean,
            defaultValue: ClosingButton--YDF.defaultOptions.decorativeModifiers.bordersDisguising
          },
          noBackground: {
            type: DataTypes--YDF.boolean,
            defaultValue: ClosingButton--YDF.defaultOptions.decorativeModifiers.noBackground
          },
          noBackgroundInDefaultState: {
            type: DataTypes--YDF.boolean,
            defaultValue: ClosingButton--YDF.defaultOptions.decorativeModifiers.noBackgroundInDefaultState
          }
        },
        defaultValue: ClosingButton--YDF.defaultOptions.decorativeModifiers
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  // ━━━ Methods ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  applyBasicRules()

    .ClosingButton--YDF

      ButtonLikeElementsPrimer--YDF()

      display flex
      flex-direction column
      align-items center

      cursor pointer


      &:focus-visible

        outline none


      &-Icon

        display inline-block

        position relative


        &::before,
        &::after

          content ""

          position absolute
          transform-origin center


        &::before

          transform rotate(45deg)


        &::after

          transform rotate(-45deg)


  // ┅┅┅ Geometry ┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅
  applyGeometricVariation(themeName, variationName, variation)

    VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING = buildString--YDF(
      "ClosingButton.${ themeName }Theme.${ variationName }Geometry",
      { themeName: themeName, variationName: variationName }
    )


    // ╍╍╍ Root Element ╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍
    +provideDefaultSelectorWhenRootAndApply--YDF("." + ClosingButton--YDF.CSS_NAMESPACE)

      BordersSizing--YDF(variation.rootElement.borders)
      Paddings--YDF(variation.rootElement.paddings)

      applyMixinStoredInObjectIfItIsNotNull--YDF(variation.rootElement.customDeclarations)


    // ╍╍╍ Icon ╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍
    .ClosingButton--YDF-Icon

      cachedReusables = extractAndValidateObjectProperties--YDF({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        extracts: {
          lineWidth: { dotSeparatedPath: "icon.lineWidth", required: true },
          lineThickness: { dotSeparatedPath: "icon.lineThickness", required: true }
        }
      })

      lineWidth = cachedReusables.lineWidth
      lineHalfWidth = 0.5 * lineWidth

      lineThickness = cachedReusables.lineThickness
      lineHalfThickness = 0.5 * lineThickness

      boxSideWidth = sin(45deg) * lineWidth
      boxSizeHalfWidth = 0.5 * boxSideWidth


      width boxSideWidth
      height boxSideWidth


      &::before,
      &::after

        width lineWidth
        height lineThickness

        left: buildCalcExpression--YDF(
                "${ boxSizeHalfWidth } - ${ lineHalfWidth }",
                { boxSizeHalfWidth: boxSizeHalfWidth, lineHalfWidth: lineHalfWidth }
              )

        top: buildCalcExpression--YDF(
                "${ boxSizeHalfWidth } - ${ lineHalfThickness }",
                { boxSizeHalfWidth: boxSizeHalfWidth, lineHalfThickness: lineHalfThickness }
              )


      applyMixinStoredInObjectIfItIsNotNull--YDF(variation.rootElement.customDeclarations)


    // ╍╍╍ Label ╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍
    .ClosingButton--YDF-Label

      validateAndAssignStoredInObjectCSS_Properties--YDF({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          font-size: { dotSeparatedPath: "label.text.size", required: true },
          margin-top: { dotSeparatedPath: "label.spacing.afterIcon", required: true },
        }
      })

      applyMixinStoredInObjectIfItIsNotNull--YDF(variation.label.customDeclarations)


  //* [ Approach ] Being the modifiers, must be applied after theme-dependent styles. */
  applyThemeIndependentGeometricModifiers()

    if options.geometricModifiers.noRoundings

      .HamburgerMenuButton--YDF__NoRoundingsGeometricModifier

        border-radius 0


  // ┅┅┅ Decoration ┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅
  applyDecorativeVariation(themeName, variationName, variation)

    VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING = buildString--YDF(
      "ClosingButton.${ themeName }Theme.${ variationName }Decoration",
      { themeName: themeName, variationName: variationName }
    )


    StateDependentStyles(state)

      Declarations()

        ROOT_ELEMENT_REFERENCE__NULL_IF_NOT_REQUIRED = selector() == "." + Button--YDF.CSS_NAMESPACE ? "/" : null


        // ╍╍╍ Root Element ╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍╍
        validateAndAssignStoredInObjectCSS_Properties--YDF({
          targetObject: variation[state].rootElement,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          assigments: {
            background-color: { dotSeparatedPath: "background.color", required: false },
            background-image: { dotSeparatedPath: "background.image", required: false },
            border-style: { dotSeparatedPath: "borders.style", required: false },
            border-color: { dotSeparatedPath: "borders.color", required: false },
            outline: { dotSeparatedPath: "outline", required: false, applier: applyOutlineObjectTypeDefinition--YDF },
            box-shadow: { dotSeparatedPath: "shadow", required: false, applier: applyObjectTypeBoxShadowDefinition--YDF }
          }
        })

        applyMixinStoredInObjectIfItIsNotNull--YDF(variation[state].rootElement.customDeclarations)


        // ┅┅┅ Icon ┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅
        { ROOT_ELEMENT_REFERENCE__NULL_IF_NOT_REQUIRED }.ClosingButton--YDF-Icon

          strokeColor = extractAndValidateObjectProperties--YDF({
            targetObject: variation[state].icon,
            targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
            extracts: {
              strokeColor: { dotSeparatedPath: "color", required: false }
            }
          }).strokeColor


          &::before,
          &::after

            applyIfNotNull--YDF({ background-color: strokeColor })


          applyMixinStoredInObjectIfItIsNotNull--YDF(variation[state].icon.customDeclarations)


        // ┅┅┅ Label ┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅
        { ROOT_ELEMENT_REFERENCE__NULL_IF_NOT_REQUIRED }.ClosingButton--YDF-Label

          validateAndAssignStoredInObjectCSS_Properties--YDF({
            targetObject: variation[state].label.text,
            targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
            assigments: {
              font-weight: { dotSeparatedPath: "fontWeight", required: false },
              color: { dotSeparatedPath: "color", required: false },
              underline: { dotSeparatedPath: "underline", required: false, applier: applyObjectTypeUnderlineDefinition--YDF }
            }
          })

          applyMixinStoredInObjectIfItIsNotNull--YDF(variation[state].label.customDeclarations)


      +provideDefaultSelectorWhenRootAndApply--YDF("." + ClosingButton--YDF.CSS_NAMESPACE)

        if (state == "defaultState")

          Declarations(state)

        else if (state == "hoverState")

          &:hover

            Declarations(state)

        else if (state == "focusVisibleState")

          &:focus-visible

            Declarations(state)

        else if (state == "activeState")

          &:active,
          &[aria-pressed="true"]

            Declarations(state)

        else if (state == "disabledState")

          &:disabled

            Declarations(state)


    for state in variation

      StateDependentStyles(state)


  //* [ Approach ] Being the modifiers, must be applied after theme-dependent styles. */
  applyThemeIndependentDecorativeModifiers()

    if options.decorativeModifiers.bordersDisguising

      .ClosingButton--YDF__BordersDisguisingDecorativeModifier

        border-color transparent !important


    if options.decorativeModifiers.noBackground

      .ClosingButton--YDF__NoBackgroundDecorativeModifier

        background none !important


    if options.decorativeModifiers.noBackgroundInDefaultState

      .ClosingButton--YDF__NoBackgroundInDefaultStateDecorativeModifier

        background transparent


  // ━━━ Applying ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  applyBasicRules()

  if !options.themeIndependentStylesOnly

    applyComponentThemes--YDF({
      CSS_Namespace: ClosingButton--YDF.CSS_NAMESPACE,
      themes: properties.themes,
      areThemesCSS_ClassesCommon: options.externalThemes,
      themeIndependentGeometricVariations: options.themeIndependentGeometricVariations,
      applyGeometricVariation: applyGeometricVariation,
      applyDecorativeVariation: applyDecorativeVariation
    })

  applyThemeIndependentGeometricModifiers()
  applyThemeIndependentDecorativeModifiers()
