@require "../../../../Functionality.styl"
@require "../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


LoadingIndicator--YDF-generateStyles()
BlockingLoadingOverlay--YDF-generateStyles()


BlockingLoadingOverlay--YDF-setCustomColorOfInnerLoadingIndicator(green)
