@require "../../../../Functionality.styl"
@require "../../../../GUI_Components.styl"


CrossBrowserStylesReset--YDF()
InitialGlobalCSS_Rules--YDF()


LoadingIndicator--YDF-generateStyles()
BlockingLoadingOverlay--YDF-generateStyles()


BlockingLoadingOverlay--YDF-setCustomColorOfInnerLoadingIndicator(green)
