TextBox-RegularTheme-RegularGeometricVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  inputOrTextAreaElement: {
    borders: {
      thickness: { all: 1px },
      radius: { all: 3px }
    },
    paddings: {
      horizontalSymmetric: 0.5rem,
      verticalSymmetric: 0.6rem,
      upwardShifting: -0.05rem
    },
    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    }
  },

  SVG_Icon: {
    width: 1rem,
    spacing: {
      leftWhenGoingFirst: 0.6rem,
      betweenSelfAndText: 0.4rem,
      rightWhenGoingLast: 0.6rem
    }
  },

  passwordDisplayingToggle: {
    SVG_Icon: {
      width: 1rem
    },
    spacing: {
      right: 0.6rem,
      betweenSelfAndText: 0.4rem
    }
  }

}
