emitDeprecatedError--YDF(functionOrMixinName)

  error(
    "The function of mixin " + functionOrMixinName + " has been deprecated. " +\
    "Use " + functionOrMixinName + "--YDF instead"
  )


isEmptyString()

  emitDeprecatedError--YDF("isEmptyString")


isNonEmptyString()

  emitDeprecatedError--YDF("isNonEmptyString")


isString()

  emitDeprecatedError--YDF("isString")


isDimensionalOrDimensionlessQuantity()

  emitDeprecatedError--YDF("isDimensionalOrDimensionlessQuantity")


isDimensionalQuantity()

  emitDeprecatedError--YDF("isDimensionalQuantity")


isDimensionlessQuantity()

  emitDeprecatedError--YDF("isDimensionlessQuantity")


isNaturalNumber()

  emitDeprecatedError--YDF("isNaturalNumber")


isBoolean()

  emitDeprecatedError--YDF("isBoolean")


isFalse()

  emitDeprecatedError--YDF("isFalse")


isTrue()

  emitDeprecatedError--YDF("isTrue")


isNotNull()

  emitDeprecatedError--YDF("isNotNull")


isNull()

  emitDeprecatedError--YDF("isNull")


isCalcExpression()

  emitDeprecatedError--YDF("isCalcExpression")


isFunction()

  emitDeprecatedError--YDF("isFunction")


isIdentifier()

  emitDeprecatedError--YDF("isIdentifier")


isObject()

  emitDeprecatedError--YDF("isObject")


emptyStringToNull()

  emitDeprecatedError--YDF("emptyStringToNull")


nullToEmptyObject()

  emitDeprecatedError--YDF("nullToEmptyObject")


nullToEmptyString()

  emitDeprecatedError--YDF("nullToEmptyString")


nullToZero()

  emitDeprecatedError--YDF("nullToZero")


buildString()

  emitDeprecatedError--YDF("buildString")


capitalizeFirstLatinCharacter()

  emitDeprecatedError--YDF("capitalizeFirstLatinCharacter")


appendUnit()

  emitDeprecatedError--YDF("appendUnit")


computeExtraSpaceCausedByLineHeightAtTopOrBottom()

  emitDeprecatedError--YDF("computeExtraSpaceCausedByLineHeightAtTopOrBottom")


computeTotalHeightByTextElementHeightSizingSpecification()

  emitDeprecatedError--YDF("computeTotalHeightByTextElementHeightSizingSpecification")


getLineHeightByFontSizeAndLineSpacing()

  emitDeprecatedError--YDF("getLineHeightByFontSizeAndLineSpacing")


getLineSpacingByFontSizeAndLineHeight()

  emitDeprecatedError--YDF("getLineSpacingByFontSizeAndLineHeight")


removeUnitFromAmount()

  emitDeprecatedError--YDF("removeUnitFromAmount")


createObjectWithComputedProperties()

  emitDeprecatedError--YDF("createObjectWithComputedProperties")


deeplyCloneAndOverrideObject()

  emitDeprecatedError--YDF("deeplyCloneAndOverrideObject")


deeplyCloneObject()

  emitDeprecatedError--YDF("deeplyCloneObject")


formatObject()

  emitDeprecatedError--YDF("formatObject")


getObjectNonNullValuesCount()

  emitDeprecatedError--YDF("getObjectNonNullValuesCount")


getObjectValueByDotSeparatedPathSafely()

  emitDeprecatedError--YDF("getObjectValueByDotSeparatedPathSafely")


iterateObjectSkippingNullValues()

  emitDeprecatedError--YDF("iterateObjectSkippingNullValues")


overrideObject()

  emitDeprecatedError--YDF("overrideObject")


arrayConstructor__POLYFILL()

  emitDeprecatedError--YDF("arrayConstructor__POLYFILL")


getFirstNonNullArrayElement()

  emitDeprecatedError--YDF("getFirstNonNullArrayElement")


getLengthOfPrimitivesArray()

  emitDeprecatedError--YDF("getLengthOfPrimitivesArray")


hasPrimitivesArraySpecifiedElement()

  emitDeprecatedError--YDF("hasPrimitivesArraySpecifiedElement")


iterate2DimensionalArray()

  emitDeprecatedError--YDF("iterate2DimensionalArray")


iterateAssociativeArray()

  emitDeprecatedError--YDF("iterateAssociativeArray")


validateObjectTypeParameter()

  emitDeprecatedError--YDF("validateObjectTypeParameter")


buildBEM_ClassName()

  emitDeprecatedError--YDF("buildBEM_ClassName")


buildCalcExpression()

  emitDeprecatedError--YDF("buildCalcExpression")


buildCalcExpressionFromFragments()

  emitDeprecatedError--YDF("buildCalcExpressionFromFragments")


log()

  emitDeprecatedError--YDF("log")


substituteNull()

  emitDeprecatedError--YDF("substituteNull")


applyIfNotNull()

  emitDeprecatedError--YDF("applyIfNotNull")


applyIfNotZero()

  emitDeprecatedError--YDF("applyIfNotZero")


applyMixinStoredInObjectIfItIsNotNull()

  emitDeprecatedError--YDF("applyMixinStoredInObjectIfItIsNotNull")


BorderTopFilletsRadius()

  emitDeprecatedError--YDF("BorderTopFilletsRadius")


BorderBottomFilletsRadius()

  emitDeprecatedError--YDF("BorderBottomFilletsRadius")


BorderLeftFilletsRadius()

  emitDeprecatedError--YDF("BorderLeftFilletsRadius")


BorderRightFilletsRadius()

  emitDeprecatedError--YDF("BorderRightFilletsRadius")


BordersSizing()

  emitDeprecatedError--YDF("BordersSizing")


specifyBordersSizing()

  emitDeprecatedError--YDF("specifyBordersSizing")


Paddings()

  emitDeprecatedError--YDF("Paddings")


specifyPaddings()

  emitDeprecatedError--YDF("specifyPaddings")


fillViewportWidthIgnoringParentPaddings()

  emitDeprecatedError--YDF("fillViewportWidthIgnoringParentPaddings")


TableCellWidthSizing()

  emitDeprecatedError--YDF("TableCellWidthSizing")


WidthSizing()

  emitDeprecatedError--YDF("WidthSizing")


specifyWidthSizing()

  emitDeprecatedError--YDF("specifyWidthSizing")


TextElementHeightSizing()

  emitDeprecatedError--YDF("TextElementHeightSizing")


specifyTextElementHeightSizing()

  emitDeprecatedError--YDF("specifyTextElementHeightSizing")


ButtonLikeElementsPrimer()

  emitDeprecatedError--YDF("ButtonLikeElementsPrimer")


CrossBrowserStylesReset()

  emitDeprecatedError--YDF("CrossBrowserStylesReset")


InitialGlobalCSS_Rules()

  emitDeprecatedError--YDF("InitialGlobalCSS_Rules")


TextBoxLikeElementsPrimer()

  emitDeprecatedError--YDF("TextBoxLikeElementsPrimer")


centerHorizontallyWithoutWrapper()

  emitDeprecatedError--YDF("centerHorizontallyWithoutWrapper")


placeToRight()

  emitDeprecatedError--YDF("placeToRight")


VerticallyCenteredAbsolutelyPositionedBlock()

  emitDeprecatedError--YDF("VerticallyCenteredAbsolutelyPositionedBlock")


PositionalRelationship()

  emitDeprecatedError--YDF("PositionalRelationship")


pushTargetFromSelf()

  emitDeprecatedError--YDF("pushTargetFromSelf")


retireFrom()

  emitDeprecatedError--YDF("retireFrom")


retireFromElementWithSameSelector()

  emitDeprecatedError--YDF("retireFromElementWithSameSelector")


whenItGoingFirst()

  emitDeprecatedError--YDF("whenItGoingFirst")


whenItGoingLast()

  emitDeprecatedError--YDF("whenItGoingLast")


whenItJustAfter()

  emitDeprecatedError--YDF("whenItJustAfter")


whenTargetGoingJustAfterIt()

  emitDeprecatedError--YDF("whenTargetGoingJustAfterIt")


whenTargetWithSameSelectorGoingJustAfterIt()

  emitDeprecatedError--YDF("whenTargetWithSameSelectorGoingJustAfterIt")


CenteredContentWithComputedHorizontalPaddings()

  emitDeprecatedError--YDF("CenteredContentWithComputedHorizontalPaddings")


CenteredContentWithDynamicInlinePaddings()

  emitDeprecatedError--YDF("CenteredContentWithDynamicInlinePaddings")


Centerer()

  emitDeprecatedError--YDF("Centerer")


fillBodyVertically()

  emitDeprecatedError--YDF("fillBodyVertically")


FixedTranslucentDimLayer()

  emitDeprecatedError--YDF("FixedTranslucentDimLayer")


applyTextGeometryWithoutExtraSpaceCausedByLineHeight()

  emitDeprecatedError--YDF("applyTextGeometryWithoutExtraSpaceCausedByLineHeight")


SingleLineTextElementOverflowSafety()

  emitDeprecatedError--YDF("SingleLineTextElementOverflowSafety")


applyHoverStylesOnHoverableDevices()

  emitDeprecatedError--YDF("applyHoverStylesOnHoverableDevices")


ifHoverStateAvailable()

  emitDeprecatedError--YDF("ifHoverStateAvailable")


provideClippedShadowsAndOutlinesVisibility()

  emitDeprecatedError--YDF("provideClippedShadowsAndOutlinesVisibility")


Sprite()

  emitDeprecatedError--YDF("Sprite")


provideDefaultSelectorWhenRootAndApply()

  emitDeprecatedError--YDF("provideDefaultSelectorWhenRootAndApply")


getCurrentSelectorSubstitutingRoot()

  emitDeprecatedError--YDF("getCurrentSelectorSubstitutingRoot")


applyComponentThemes()

  emitDeprecatedError--YDF("applyComponentThemes")


provideComponentsPositionalRelationship()

  emitDeprecatedError--YDF("provideComponentsPositionalRelationship")


extractAndValidateObjectProperties()

  emitDeprecatedError--YDF("extractAndValidateObjectProperties")


validateAndAssignStoredInObjectCSS_Properties()

  emitDeprecatedError--YDF("validateAndAssignStoredInObjectCSS_Properties")


applyObjectTypeBoxShadowDefinition()

  emitDeprecatedError--YDF("applyObjectTypeBoxShadowDefinition")


applyObjectTypeUnderlineDefinition()

  emitDeprecatedError--YDF("applyObjectTypeUnderlineDefinition")


applyOutlineObjectTypeDefinition()

  emitDeprecatedError--YDF("applyOutlineObjectTypeDefinition")
