InitialGlobalCSS_Rules--YDF()

  *

    box-sizing border-box


  html,
  body

    height 100%


  html

    font-family: Configuration--YDF.fontsStacks.main
    font-size: Configuration--YDF.textGeometry.basicFontSize
    line-height: Configuration--YDF.textGeometry.basicLineHeight


  sub

    margin-left 1px
    vertical-align sub
    font-size 10px


  sup

    margin-left 1px
    vertical-align super
    font-size 10px
