getFirstNonNullArrayElement--YDF(targetArray)

  // Array of single object-type element special case
  if (isObject--YDF(targetArray) && isNull--YDF(targetArray[1])) {
    return targetArray
  }


  for element in targetArray

    if isNotNull--YDF(element)

      return element


  return targetArray[length(targetArray) - 1]
