.AdmonitionBlockGallery

  &-LoneAdmonitionBlock

    retireFrom--YDF({ targetElementSelector: ".AdmonitionBlockGallery-PreRenderedInvisibleCustomSVG_Icon", y: 0.4rem })
    pushTargetFromSelf--YDF({ targetElementSelector: ".Heading2", y: 1.2rem })
