@require "../../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


closingButtonComponentDefaultPropertiesOverriding = {}


ClosingButton--YDF-generateStyles(
  overridings: closingButtonComponentDefaultPropertiesOverriding
)


@require "../../../../../Galleries/GUI_Components/Controls/Buttons/Closing/ClosingButtonGallery.styl"
