@require "../../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


RadioButtonsGroupDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//RadioButtonsGroupDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================

provideRadioButtonsGroupYDF_Component(
  overridings: RadioButtonsGroupDemoDefaultPropertiesOverriding
)

provideCompoundControlShellYDF_Component()


@require "../../../../../Galleries/GUI_Components/Controls/Validatables/RadioButtonsGroup/RadioButtonsGroupGallery.styl"
