Checkbox-RegularTheme-SmallGeometry--YDF = {

  rootElement: {

    minimalWidth: 4rem,

    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    }),

    paddings: null,

    customDeclarations: null,

  },

  frameForCheckmark: {

    sideWidth: 1rem,
    width: null,
    height: null,
    borders: specifyBordersSizing({
      thickness: null,
      radius: { all: 3px }
    }),

    customDeclarations: null

  },

  label: {

    text: {
      size: 0.9rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      left: 0.8rem,
      right: 0.4rem,
      verticalSymmetric: 0.4rem,
      top: null,
      bottom: null,
      upwardShifting: null
    },

    customDeclarations: null

  }

}
