Checkbox-RegularTheme-MinimalisticGeometry--YDF = {

  rootElement: {

    minimalWidth: null,

    borders: null,

    paddings: null,

    customDeclarations: null

  },

  frameForCheckmark: {

    sideWidth: 1.2rem,
    width: null,
    height: null,
    borders: specifyBordersSizing({
      thickness: { all: 2px },
      radius: { all: 3px }
    }),

    customDeclarations: null

  },

  label: {

    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      left: 1rem,
      right: 1rem,
      verticalSymmetric: 0.6rem,
      verticalSymmetric: null,
      top: null,
      bottom: null,
      upwardShifting: null
    },

    customDeclarations: null

  }


}
