@require "../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


NumberBoxDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//NumberBoxDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================

NumberBox--YDF-generateStyles(
  overridings: NumberBoxDemoDefaultPropertiesOverriding
)

Button--YDF-generateStyles()
ValidatableControlShell--YDF-generateStyles()


@require "../../../../Galleries/GUI_Components/Controls/NumberBox/NumberBoxGallery.styl"
