@require "../../../../../../Functionality.styl"
@require "../../../../../../GUI_Components.styl"


CrossBrowserStylesReset--YDF()
InitialGlobalCSS_Rules--YDF()


ValidatableControlShell--YDF-generateStyles()
TextBox--YDF-generateStyles()
Button--YDF-generateStyles()


body

  CenteredContentWithComputedHorizontalPaddings--YDF({ contentWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT--YDF })

  padding-top 1rem
