@require "../../../../../../Functionality.styl"
@require "../../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


generateValidatableControlShellYDF_GUI_ComponentStyles()
generateTextBoxYDF_GUI_ComponentStyles()


body

  CenteredContentWithComputedHorizontalPaddings({
    contentWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT--YDF
  })

  padding-top 1rem
