@require "../../../../../../Functionality.styl"
@require "../../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


ValidatableControlShell--YDF-generateStyles()
TextBox--YDF-generateStyles()
Button--YDF-generateStyles()


body

  CenteredContentWithComputedHorizontalPaddings({
    contentWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT--YDF
  })

  padding-top 1rem
