/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/04-UtilityMixins/06-RestUtils/provideClippedShadowsAndOutlinesVisibility.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/04-UtilityMixins/06-RestUtils/provideClippedShadowsAndOutlinesVisibility.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


Button = {
  outlineWidth: 2px
}

.Button

  &:focus

    outline: Button.outlineWidth solid gold


.Dialog

  &-Header

    // ...


  &-MainSection

    max-height 300px
    overflow-y hidden


  &-ButtonsBar

    provideClippedShadowsAndOutlinesVisibility--YDF({
      requiredHorizontalSymmetricSpace: Button.outlineWidth,
      requiredSpaceAtBottom: Button.outlineWidth
    })
