ValidatableControlShell-RegularTheme-RegularDecorativeVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  label: {

    text: {
      weight: bold,
      color: JQueryUI_BaseTheme.clickableElements.borderColor
    },

    customDeclarations: null

  },

  badge: {

    required: {
      customDeclarations: null
    },

    optional: {
      customDeclarations: null
    }

  },

  guidance: {

    text: {

      weight: null,
      color: W3C_39_ShadesOfGray--YDF[16]

      accenctedFragment: {
        weight: null,
        color: YDF_ColorPalette.red.slightlyDark
      }

    },

  },

  validationErrorsMessagesList: {

    forWideContainers: {

      borders: {
        style: null,
        color: null
      },

      background: {
        color: null,
        image: null
      },

      item: {

        text: {
          weight: bold,
          color: JQueryUI_BaseTheme.error.iconsColor
        }

      }

    },

    forNarrowContainers: {

      borders: {
        style: null,
        color: null
      },

      background: {
        color: YDF_ColorPalette.red.slightlyDark,
        image: null
      },

      shadow: {
        blurRadius: 4px,
        spreadRadius: 2px,
        color: alpha(black, 50%)
      },

      item: {

        text: {
          weight: null,
          color: white
        }

      }

    }

  },

  asynchronousValidationsStatusesList: {

    forWideContainers: {

      borders: {
        style: null,
        color: null
      },

      background: {
        color: null,
        image: null
      },

      item: {

        loadingIndicator: {
          color: YDF_ColorPalette.deepSkyBlue.slightlyDark
        },

        SVG_Icons: {

          succeededAndValidState: {
            color: YDF_ColorPalette.mint.slightlyDark
          },

          malfunctionState: {
            color: YDF_ColorPalette.red.slightlyDark
          }

        },

        text: {

          fontWeight: bold,

          inProgressState: {
            color: YDF_ColorPalette.deepSkyBlue.slightlyDark
          },

          succeededAndValidState: {
            color: YDF_ColorPalette.mint.slightlyDark
          },

          malfunctionState: {
            color: YDF_ColorPalette.red.slightlyDark
          }

        }

      }

    },

    forNarrowContainers: {

      borders: {
        style: null,
        color: null
      },

      background: {
        color: white,
        image: null
      },

      shadow: {
        blurRadius: 4px,
        spreadRadius: 2px,
        color: alpha(black, 50%)
      },

      item: {

        loadingIndicator: {
          color: YDF_ColorPalette.deepSkyBlue.slightlyDark
        },

        SVG_Icons: {

          succeededAndValidState: {
            color: YDF_ColorPalette.mint.slightlyDark
          },

          malfunctionState: {
            color: YDF_ColorPalette.red.slightlyDark
          }

        },

        text: {

          fontWeight: bold,

          inProgressState: {
            color: YDF_ColorPalette.deepSkyBlue.slightlyDark
          },

          succeededAndValidState: {
            color: YDF_ColorPalette.mint.slightlyDark
          },

          malfunctionState: {
            color: YDF_ColorPalette.red.slightlyDark
          }

        }

      }

    }

  }

}
