@require "../../../../Functionality.styl"
@require "../../../../GUI_Components.styl"


CrossBrowserStylesReset--YDF()
InitialGlobalCSS_Rules--YDF()


AdmonitionBlock--YDF-generateStyles()
Button--YDF-generateStyles()
