@require "../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


CrossBrowserStylesReset--YDF()
InitialGlobalCSS_Rules--YDF()


AdmonitionBlock--YDF-generateStyles()
Button--YDF-generateStyles()
