TextBox-RegularTheme-LabelLikeDecorativeVariation = {

  inputOrTextAreaElementStateDependent: {

    defaultState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: {

          color: null,
          underline: null,

          placeholder: {
            color: W3C_39_ShadesOfGray--YDF[20]
          }

        },

        background: null,
        borders: null,
        outline: null,
        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        iconColor: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor,
        shadow: null,

        customDeclarations: null

      }

    },

    invalidState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: {

          color: JQueryUI_BaseTheme.error.fontColor,
          underline: null,

          placeholder: {
            color: null
          }

        },

        background: null,
        borders: null,
        outline: null,
        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.error.iconsColor,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        iconColor: JQueryUI_BaseTheme.error.iconsColor,
        shadow: null,

        customDeclarations: null

      }

    },

    validState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: {

          color: JQueryUI_BaseTheme.success.fontColor,
          underline: null,

          placeholder: {
            color: null
          }

        },

        background: null,
        borders: null,
        outline: null,
        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.success.iconsColor,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        iconColor: JQueryUI_BaseTheme.success.iconsColor,
        shadow: null,

        customDeclarations: null

      }

    },

    focusState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: null,
        background: null,
        borders: null,

        outline: {
          type: solid,
          thickness: 1px,
          offset: 1px,
          color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
        },

        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: null,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        color: null,
        shadow: null,

        customDeclarations: null

      }

    },

    hoverState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: null,
        background: null,
        borders: null,

        outline: {
          type: solid,
          thickness: 1px,
          offset: 2px,
          color: JQueryUI_BaseTheme.warning.borderColor
        },

        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: null,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        color: null,
        shadow: null,

        customDeclarations: null

      }

    },

    activeState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: null,
        background: null,
        borders: null,
        outline: null,
        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: null,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        color: null,
        shadow: null,

        customDeclarations: null

      }

    },

    readOnlyState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: {

          color: W3C_39_ShadesOfGray--YDF[22],
          underline: null,

          placeholder: {
            color: W3C_39_ShadesOfGray--YDF[24]
          }

        },

        background: null,
        borders: null,
        outline: null,
        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        color: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor,
        shadow: null,

        customDeclarations: null

      }

    },

    disabledState: {

      rootElement: {
        customDeclarations: null
      },

      inputOrTextAreaElement: {

        text: {

          color: W3C_39_ShadesOfGray--YDF[20],
          underline: null,

          placeholder: {
            color: W3C_39_ShadesOfGray--YDF[22]
          }

        },

        background: null,
        borders: null,
        outline: null,
        shadow: null,

        customDeclarations: null

      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor,
        customDeclarations: null
      },

      passwordDisplayingToggle: {

        color: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor,
        shadow: null,

        customDeclarations: null

      }

    }

  },

  passwordDisplayingToggleOwnStateDependent: {

    hoverState: {

      iconColor: W3C_39_ShadesOfGray--YDF[20],
      shadow: null,

      customDeclarations: null

    },

    focusVisibleState: {

      iconColor: W3C_39_ShadesOfGray--YDF[20],
      shadow: {
        blurRadius: 3px,
        spreadRadius: 1px,
        color: W3C_39_ShadesOfGray--YDF[20]
      },

      customDeclarations: null

    },

    activeState: {

      iconColor: W3C_39_ShadesOfGray--YDF[24],
      shadow: null,

      customDeclarations: null

    }

  }

}
