/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/04-UtilityMixins/02-Positioning/centerHorizontallyWithoutWrapper.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/04-UtilityMixins/02-Positioning/centerHorizontallyWithoutWrapper.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.HorizontalCenteringWithoutWrapper--YDF

  &-Case1

    centerHorizontallyWithoutWrapper--YDF({
      targetElementType: HorizontalCenteringWithoutWrapper--YDF.TargetElementTypes.block
    })


  &-Case2

    centerHorizontallyWithoutWrapper--YDF({
      targetElementType: HorizontalCenteringWithoutWrapper--YDF.TargetElementTypes.inlineBlock
    })


  &-Case3

    centerHorizontallyWithoutWrapper--YDF({
      targetElementType: HorizontalCenteringWithoutWrapper--YDF.TargetElementTypes.block,
      maximalWidth: 430px
    })


  &-Case4

    centerHorizontallyWithoutWrapper--YDF({
      targetElementType: HorizontalCenteringWithoutWrapper--YDF.TargetElementTypes.block,
      maximalWidth: 450px,
      horizontalSpaceBetweenSelfAndParent: 20px
    })
