HamburgerMenuButton-RegularTheme-RegularGeometricVariation--YDF = {

  rootElement: {

    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    }),

    paddings: specifyPaddings({
      horizontalSymmetric: 0.4rem,
      verticalSymmetric: 0.3rem
    }),

    customDeclarations: null

  },

  icon: {

    lineWidth: 4ch,
    lineThickness: 0.2rem,
    spacingBetweenLines: 0.5rem,

    customDeclarations: null

  },

  label: {

    text: {
      size: 0.7em
    },

    spacing: {
      afterIcon: 0.3em
     },

    customDeclarations: null

  }

}
