deeplyCloneObject--YDF(targetObject)

  workpieceClone = {}

  for key, value in targetObject

    workpieceClone[key] = typeof(value) == "object" ? deeplyCloneObject--YDF(value) : value

  return workpieceClone
