@require "../../../../Functionality.styl"
@require "../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


generateAdmonitionBlockYDF_GUI_ComponentStyles()
generateButtonYDF_GUI_ComponentStyles()
