ValidatableControlShell-RegularTheme-SmallGeometricVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  label: {

    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    customDeclarations: null

  },

  badge: {

    basicSize: 0.6em,

    spacing: {
      leftWhenGoingFirst: null,
      afterLabel: 0.4em
    },

    customDeclarations: null

  },

  guidance: {

    text: {
      size: 0.8rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      afterHeader: 0.2rem
    },

    customDeclarations: null

  },

  mainSlot: {

    spacing: {
      afterHeaderWithoutBadge: 0.3rem,
      afterHeaderWithBadge: 0.3rem,
      afterGuidance: 0.3rem
    },

    customDeclarations: null

  },

  validationErrorsMessagesList: {

    wideContainersConfigurationMinimalWidth: 100px,

    forWideContainers: {

      spacing: {
        afterMainSlot: 0.4rem
      },

      customDeclarations: null,

      item: {

        text: {
          size: 0.8rem,
          lineSpacing: 0.2rem,
          lineHeight: null
        },

        spacing: {
          betweenSelfInstances: 0.3rem
        },

        customDeclarations: null

      }

    },

    forNarrowContainers: {

      width: 20ch,

      borders: specifyBordersSizing--YDF({
        radius: { all: 3px }
      }),

      paddings: specifyPaddings--YDF({
        horizontalSymmetric: 0.4rem,
        verticalSymmetric: 0.3rem
      }),

      zIndex: YDF_Configuration.zIndexes.floatingBelowModalsComponents,

      spacing: {
        betweenMainSlotAndArrow: 0.1rem
      },

      customDeclarations: null,

      arrow: {

        triangleBaseWidth: 0.8rem,
        triangleHeight: 0.3rem,
        zIndex: YDF_Configuration.zIndexes.floatingBelowModalsComponents + 1,

        spacing: {
          fromLeft: 1rem
        },

        customDeclarations: null

      },

      item: {

        text: {
          size: 0.8rem,
          lineSpacing: 0.2rem,
          lineHeight: null
        },

        spacing: {
          betweenSelfInstances: 0.3rem
        },

        customDeclarations: null

      }

    }

  },

  asynchronousValidationsStatusesList: {

    wideContainersConfigurationMinimalWidth: 100px,

    forWideContainers: {

      spacing: {
        afterMainSlot: 0.4rem,
        afterValidationErrorsList: 0.4rem
      },

      customDeclarations: null,

      item: {

        SVG_Icon: {
          width: null,
          height: 1.2rem,
          customDeclarations: null
        },

        loadingIndicator: {
          diameter: 1.2rem,
          thickness: 0.3em
        },

        text: {
          size: 0.8rem,
          lineSpacing: 0.3rem,
          lineHeight: null
        },

        spacing: {
          betweenSelfInstances: 0.4rem,
          betweenIconAndText: 0.4rem
        },

        customDeclarations: null

      }

    },

    forNarrowContainers: {

      width: 14rem,

      borders: specifyBordersSizing--YDF({
        radius: { all: 3px }
      }),

      paddings: specifyPaddings--YDF({
        horizontalSymmetric: 0.5rem,
        verticalSymmetric: 0.3rem
      }),

      spacing: {
        betweenMainSlotAndArrow: 0.1rem,
        afterValidationErrorsList: 0.1rem
      },

      zIndex: YDF_Configuration.zIndexes.floatingBelowModalsComponents,

      arrow: {

        triangleBaseWidth: 0.8rem,
        triangleHeight: 0.3rem,
        zIndex: YDF_Configuration.zIndexes.floatingBelowModalsComponents + 1,
        customDeclarations: null,

        spacing: {
          fromLeft: 1rem
        }

      },

      item: {

        SVG_Icon: {
          width: null,
          height: 1.2rem,
          customDeclarations: null
        },

        loadingIndicator: {
          diameter: 1.2rem,
          thickness: 0.3em
        },

        text: {
          size: 0.8rem,
          lineSpacing: 0.3rem,
          lineHeight: null
        },

        spacing: {
          betweenSelfInstances: 0.2rem,
          betweenIconAndText: 0.4rem
        },

        customDeclarations: null

      }

    }

  }

}
