TextBox-RegularTheme-SmallGeometricVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  inputOrTextAreaElement: {
    borders: {
      thickness: { all: 1px },
      radius: { all: 3px }
    },
    paddings: {
      horizontalSymmetric: 0.3rem,
      verticalSymmetric: 0.4rem,
      upwardShifting: 1px
    },
    text: {
      size: 0.9rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    }
  },

  SVG_Icon: {
    width: 0.8rem,
    spacing: {
      leftWhenGoingFirst: 0.4rem,
      betweenSelfAndText: 0.2rem,
      rightWhenGoingLast: 0.4rem
    }
  },

  passwordDisplayingToggle: {
    SVG_Icon: {
      width: 0.8rem
    },
    spacing: {
      right: 0.4rem,
      betweenSelfAndText: 0.3rem
    }
  }

}
