TextBox-RegularTheme-LabelLikeGeometricVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  inputOrTextAreaElement: {
    borders: null,
    paddings: {
      verticalSymmetric: 0.2rem
    },
    text: {
      size: 1rem,
      lineSpacing: 0.3rem,
      lineHeight: null
    }
  },

  SVG_Icon: {
    width: 0.8rem,
    spacing: {
      leftWhenGoingFirst: 0,
      betweenSelfAndText: 0.2rem
      rightWhenGoingLast: 0
    }
  },

  passwordDisplayingToggle: {
    SVG_Icon: {
      width: 0.8rem
    },
    spacing: {
      right: 0,
      betweenSelfAndText: 0.3rem
    }
  }

}
