@require "../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


ValidatableControlShellDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//ValidatableControlShellDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================

ValidatableControlShell--YDF-generateStyles(
  overridings: ValidatableControlShellDemoDefaultPropertiesOverriding
)

Badge--YDF-generateStyles()
Link--YDF-generateStyles()
LoadingIndicator--YDF-generateStyles()


@require "../../../../Galleries/GUI_Components/Controls/ValidatableControlShell/ValidatableControlShellGallery.styl"
