@require "../../../../../../Functionality.styl"
@require "../../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


ValidatableControlShell--YDF-generateStyles()
Checkbox--YDF-generateStyles()
