@require "../../../../../../Functionality.styl"
@require "../../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


generateValidatableControlShellYDF_GUI_ComponentStyles()
generateCheckboxYDF_GUI_ComponentStyles()
