/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-Functions/01-TypeCheckers/isNaturalNumber.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-Functions/01-TypeCheckers/isNaturalNumber.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"

testForTrue--YDF(
  "'1' is the natural number",
  isNaturalNumber--YDF(1)
)

testForFalse--YDF(
  "'1.1' is not the natural number",
  isNaturalNumber--YDF(1.1)
)

testForFalse--YDF(
  "'1e+1' is not the natural number",
  isNaturalNumber--YDF(1e+1)
)

testForFalse--YDF(
  "'-1' is not the natural number",
  isNaturalNumber--YDF(-1)
)

testForFalse--YDF(
  "'0' is not the natural number",
  isNaturalNumber--YDF(0)
)

testForFalse--YDF(
  "'null' is not the natural number",
  isNaturalNumber--YDF(null)
)

testForFalse--YDF(
  "Stringified digit is not the natural number",
  isNaturalNumber--YDF("1")
)
