/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-Functions/02-ValueTransformers/nullToEmptyObject.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-Functions/02-ValueTransformers/nullToEmptyObject.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


testForTrue--YDF(
  "Null has been transformed to empty object",
  typeof(nullToEmptyObject--YDF(null)) == "object" && length(nullToEmptyObject--YDF(null)) == 0
)

testForFalse--YDF(
  "Empty string has NOT been transformed to object",
  typeof(nullToEmptyObject--YDF("")) == "object"
)

testForFalse--YDF(
  "Non-empty string has NOT been transformed to object",
  typeof(nullToEmptyObject--YDF("ABC")) == "object"
)

testForFalse--YDF(
  "Number has NOT been transformed to object",
  typeof(nullToEmptyObject--YDF(1)) == "object"
)
