Checkbox-RegularTheme-MinimalisticGeometricVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  buttonLikeWrapper: {

    minimalWidth: null,

    borders: null,

    paddings: null,

    customDeclarations: null

  },

  frameForCheckmark: {

    sideWidth: 1.2rem,
    width: null,
    height: null,
    borders: specifyBordersSizing({
      thickness: { all: 2px },
      radius: { all: 3px }
    }),

    spacing: {
      left: null,
      verticalSymmetric: 0.6rem,
      top: null,
      bottom: null
    },

    customDeclarations: null

  },

  checkmark: {
    thickness: 0.2rem,
    shortSegmentWidth: 0.3rem,
    logSegmentWidth: 0.7rem,
    upwardShifting: 10%
  },

  label: {

    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      left: 1rem,
      right: null,
      verticalSymmetric: null,
      top: null,
      bottom: null,
      upwardShifting: null
    },

    customDeclarations: null

  }


}
