Checkbox-RegularTheme-RegularGeometricVariation--YDF = {

  rootElement: {
    customDeclarations: null
  },

  buttonLikeWrapper: {

    minimalWidth: 6rem,

    borders: specifyBordersSizing--YDF({
      thickness: { all: 1px },
      radius: { all: 3px }
    }),

    paddings: null,

    customDeclarations: null

  },

  frameForCheckmark: {

    sideWidth: 1.2rem,
    width: null,
    height: null,
    borders: specifyBordersSizing--YDF({
      thickness: null,
      radius: { all: 3px }
    }),

    spacing: {
      left: 0.6rem
    },

    customDeclarations: null

  },

  checkmark: {
    thickness: 0.2rem,
    shortSegmentWidth: 0.3rem,
    logSegmentWidth: 0.7rem,
    upwardShifting: 10%
  },

  label: {

    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      left: 1rem,
      right: 0.6rem,
      verticalSymmetric: 0.6rem,
      top: null,
      bottom: null,
      upwardShifting: -0.05rem
    },

    customDeclarations: null

  }

}
