/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-Functions/07-YDF_Array/01-YDF_Array-create.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-Functions/07-YDF_Array/01-YDF_Array-create.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


log(YDF_Array-create("AA", "BB"))
