HamburgerMenuButton-RegularTheme-RegularDecorativeVariation--YDF = {

  defaultState: {

    rootElement: {

      background: {
        color: JQueryUI_BaseTheme.clickableElements.defaultState.background,
        image: null
      },

      borders: {
        style: solid,
        color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    icon: {
      color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor,
      customDeclarations: null
    },

    label: {
      text: {
        fontWeight: bold,
        color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor,
        underline: null
      }
    }

  },

  hoverState: {

    rootElement: {

      background: {
        color: JQueryUI_BaseTheme.clickableElements.hoverState.background,
        image: null
      },

      borders: {
        style: null,
        color: JQueryUI_BaseTheme.clickableElements.hoverState.borderColor
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    icon: {
      color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor,
      customDeclarations: null
    },

    label: {
      text: {
        fontWeight: null,
        color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor,
        underline: null
      }
    }

  },

  focusVisibleState: {

    rootElement: {

      background: {
        color: null,
        image: null
      },

      borders: {
        style: null,
        color: null
      },

      outline: null,

      shadow: {
        blurRadius: 3px,
        spreadRadius: 1px,
        color: #007fff
      },

      customDeclarations: null

    },

    icon: {
      color: null,
      customDeclarations: null
    },

    label: {
      text: {
        fontWeight: null,
        color: null,
        underline: null
      }
    }

  },

  activeState: {

    rootElement: {

      background: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.background,
        image: null
      },

      borders: {
        style: null,
        color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    icon: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor,
      customDeclarations: null
    },

    label: {
      text: {
        fontWeight: null,
        color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor,
        underline: null
      }
    }

  },

  disabledState: {

    rootElement: {

      background: {
        color: W3C_39_ShadesOfGray--YDF[36],
        image: null
      },

      borders: {
        style: null,
        color: W3C_39_ShadesOfGray--YDF[32]
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    icon: {
      color: W3C_39_ShadesOfGray--YDF[24],
      customDeclarations: null
    },

    label: {
      text: {
        fontWeight: null,
        color: W3C_39_ShadesOfGray--YDF[24],
        underline: null
      }
    }

  }

}
